<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Clara</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/hugo">Manon et Ben</a>
  </li>
</ul>
